/* Header */

header{
    height: 580px;
    /* debug */
}

/* Nav */

nav{
    /* imposto al 20% per debud dovrà essere al 100% */
    background-color: #255EE920;
    /* debug */
}

nav .nav-inner{
    background-color: #ff000020;
    height: 80px;
    /* debug */

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    /* flex */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#logo{
    background-color: #00800060;
    width: 100px;
    height: 80px;
    /* debug */
}

#links{
    /* flex */
    display: flex;
    align-items: stretch;
}

#links ul {
    list-style-type: none;

    /* flex */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
}

#links ul li {
    width: 60px;
    height: 30px;
    background-color: #00800060;
    /* debug */

}


#login{
    background-color: #00800060;
    width: 100px;
    height: 80px;
    /* debug */
}
/* /Nav */

header .info-wrapper{
    height: 500px;
    background-color: #255EE920;
    /* debug */

    /* qui ci andrà l'immagine di sfondo */
    /* background-image: url();
    background-size: cover;
    background-position: center; */

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

}

header .info-inner{
    background-color: #255EE920;
    width: 800px;
    height: 300px;
    /* debug */
}
/* /Header */

/* Main */
main .chat-wrapper {
    background-color: #ffff0020;
    height: 700px;
    /* debug */

    /* flex */
    display: flex;
}

main .chat-wrapper .chat-img {
    background-color: #ffa50020;
    width: 300px;
    /* debug */

    flex-grow: 3;
}

main .chat-wrapper .chat-info {
    background-color: #ff450020;
    width: 300px;
    /* debug */

    flex-grow: 2;
}
/* /Main */